@media (max-width: 425px) {
    .friend-list {
        position: fixed !important;
        transition: 0.3s;

        nav {
            height: 3.56rem;

            .nav-pills {
                width: 90%;
                white-space: nowrap;
                overflow-x: scroll;
            }
        }
    }

    .friend-list.open {
        transform: translateX(75%);
    }
}

.friends-list {
    padding: 6px 18px !important;
}

nav {
    .nav-link {
        padding: 5px;
    }

    a.nav-link.active {
        background-color: $base-color !important;
    }
}
